/*-- scss:defaults --*/

$presentation-h1-font-size: 2em !default;

$theme-dark: #010910;
$theme-light: #ededed;
$theme-blue: #38567b;
$theme-red: #760100;

$body-bg: $theme-light;
$body-color: $theme-dark;
$link-color: $theme-blue;

$code-block-font-size: 0.7em;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Noto+Sans&display=swap&family=Eater&display=swap');

$font-family-sans-serif: 'Noto Sans', sans-serif;
$presentation-heading-font: 'Montserrat', serif;
$horror-font: 'Eater', serif;

/*-- scss:rules --*/

.reveal .slide blockquote {
  border-left: 3px solid $text-muted;
  padding-left: 0.5em;
}

.caption{
   text-align: center;
}

.reveal .slide-logo {
  height: 6rem !important;
  width: 6rem !important;
  max-width: unset !important;
  max-height: unset !important;
}

.centre {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.big {
  font-size: 1.5em;
}

.real-big {
  font-size: 3em;
}

.blue {
  color: $theme-blue;
  font-weight: bold;
}

.red {
  color: $theme-red;
  font-weight: bold;
}

.backlight {
  text-shadow: -2px 0 $theme-light,2px 0 $theme-light,0 -2px $theme-light,0 2px $theme-light;
}

.inverse-backlight {
  color: $theme-light;
  text-shadow: -2px 0 $theme-dark,2px 0 $theme-dark,0 -2px $theme-dark,0 2px $theme-dark;
}

.creepy {
  font-family: "Eater", serif;
  font-weight: 400;
  font-style: normal;
  font-weight: bold;
}
